.footer
    &.section
        padding-bottom 3rem

    .section__icon
        background-image url(/assets/images/icons/icone-navigation.png)

    &__menu
        color $c-white

    .copyright
        padding-top 3rem
