.header
    position absolute
    z-index 11
    width 100%

    .logo
        display inline-block
        position relative
        top 2rem
        height 8rem
        width 20rem
        background url(/assets/images/logo.png) no-repeat center center
        background-size contain

    &__left
        position absolute

    &__right
        position fixed
        right $gap
        top 4.2rem
