.section
    position relative
    width 100vw
    padding 0
    transition padding 100ms ease 200ms

    &__inner
        max-height 0rem
        color $c-font
        text-align center
        overflow hidden
        transition max-height 200ms ease

    &__icon
        position absolute
        z-index 10
        left 50%
        top 0
        width 15rem
        height 0
        opacity 0
        background url(/assets/images/icons/icone-projet.png) no-repeat center center
        background-size contain
        transform-origin center
        transform translate(-50%, -50%)
        transition opacity 200ms ease, height 200ms ease
    &__title
        &:after
            display block
            content ''
            width 20rem
            height 1rem
            margin 2rem auto 3rem
            border-bottom $c-font dashed 2px

    &__thumbnail
        width 15rem
        margin-bottom 2rem

    &__content p
        max-width 45rem
        margin auto

        +desktop()
            max-width 55rem

    &__footer
        margin-top 4rem

    &__column
        margin-bottom 3rem

    &-open
        padding 8rem 0
        transition padding 100ms ease

        .section__inner
            max-height 200rem
            transition max-height 200ms ease 100ms

        .section__icon
            opacity 1
            height 15rem
            transform translate(-50%, -50%)
            transition opacity 200ms ease, height 200ms ease

    &__choices
        transition opacity 500ms ease

        .btn
            &:nth-of-type(n+3), &.is-hidden
                display none

        &.is-disabled
            pointer-events none

            .btn:not(.is-chosen)
                opacity 0.5
                transition opacity 500ms ease

    &.section--dark, &.footer
        color $c-white

        .btn, .rte, .heading-2, .heading-2:after, .heading-3, .text, .card
            color $c-white
            border-color $c-white


        &:not(.banner)
            background url(/assets/images/fond-noir.jpg) no-repeat center center
            background-size cover

    &--story
        .section__icon
            background-image url(/assets/images/icons/icone-histoire.png)
            transform translate(-50%, -60%)

    &--philosophy
        .section__icon
            background-image url(/assets/images/icons/icone-philosophie.png)

    &--contact
        .section__icon
            background-image url(/assets/images/icons/icone-contact.png)

    &s-open
        .section:nth-of-type(2n+1)
            @extends .section.section--dark

        .section:not(.section--contact)

            &:not(.banner) .section__choices
                height 0

            .section__choices
                opacity 0
                pointer-events none
                transition opacity 500ms ease
