.btn
    display block
    width 100%
    margin 2rem 0
    padding 1.2rem 4.5rem
    background transparent
    border $c-font solid 2px
    color $c-font

    +tablet()
        display inline-block
