.btn
    display inline-block
    padding 0 0.5rem
    background repeating-linear-gradient(
        180deg,
        transparent,
        transparent 2.3rem,
        $c-primary 2.3rem,
        $c-primary 3.45rem
    )

    &:hover
        background repeating-linear-gradient(
            180deg,
            transparent,
            transparent 0rem,
            $c-primary 0rem,
            $c-primary 100%
        )
