.btn
    position relative
    z-index 5
    display block
    width 100%
    margin 2rem 0
    padding 1.2rem 0
    background transparent
    border $c-font solid 2px
    color $c-font
    transition opacity 500ms ease, letter-spacing 200ms ease

    &:before
        content ''
        position absolute
        z-index -1
        display block
        top 0
        left 0
        right 0
        bottom 0
        background $c-gradient
        opacity 0
        transition opacity 500ms ease

    &:hover, &.is-chosen
        medium()
        letter-spacing 1px
        cursor pointer
        &:before
            opacity 1
            transition opacity 500ms ease

    +tablet()
        width 25rem
        display inline-block
        padding 1.2rem 0

        &:nth-of-type(2)
            margin-left 1rem

button:hover
    cursor pointer
