.loader
    position absolute
    z-index 100
    top 0
    left 0
    right 0
    padding 0
    height 0px
    opacity 0
    background url(/assets/images/fond-noir.jpg) no-repeat center center
    background-size cover
    transition  opacity 500ms ease 500ms, height 0s ease 1s, padding 0s ease 1s

    &__text
        color $c-white
        text-align center

    &:before
        position absolute
        content ''
        top calc(50% - 4rem)
        left calc(50% - 4rem)
        width 8rem
        height 8rem
        background url(/assets/images/logo.png) no-repeat 0% center
        background-size cover
        animation loading 4s linear infinite

.is-loading .loader
    height 100vh
    padding-top calc(50vh + 7rem)
    opacity 1
    transition opacity 500ms ease 500ms, height 0s ease 1s, padding 0s ease 1s

@keyframes loading
    0%
        transform rotate(0)
    50%
        transform rotate(180deg)
    100%
        transform rotate(360deg)
