.menu
    text-align right
    color $c-white

    &__toggler
        position relative
        z-index 12
        padding 0 0 2rem 2rem
        background transparent
        border none

        .bar
            width 2.2rem
            height 0.4rem
            margin 0.5rem 0
            background-color $c-white
            border-radius 25px
            transition transform 200ms ease-in-out, background-color 200ms ease

        .is--dark .bar
            background-color $c-font
            transition transform 200ms ease-in-out, background-color 200ms ease

    &__items
        pointer-events none
        height 0
        transition height 0s ease-in-out 500ms

        .menu-item
            position relative
            right -100vw
            transition right 200ms ease-in-out

            &:nth-of-type(1)
                transition-delay 0ms

            &:nth-of-type(2)
                transition-delay 50ms

            &:nth-of-type(3)
                transition-delay 100ms

            &:nth-of-type(4)
                transition-delay 150ms

            &:nth-of-type(5)
                transition-delay 200ms

            &:nth-of-type(6)
                transition-delay 250ms


    &-open
        .menu__toggler
            .bar
                transition transform 200ms ease-in-out

                &:nth-of-type(1)
                    transform-origin top left
                    transform rotate(42.5deg) scaleX(1.28)

                &:nth-of-type(2)
                    transform-origin center center
                    transform scaleX(0)

                &:nth-of-type(3)
                    transform-origin bottom left
                    transform rotate(-42.5deg) scaleX(1.28)

        .menu__items
            pointer-events auto
            height auto
            transition height 0s ease-in-out

            .menu-item
                right 0
                transition right 500ms ease-in-out

                &:nth-of-type(1)
                    transition-delay 0ms

                &:nth-of-type(2)
                    transition-delay 50ms

                &:nth-of-type(3)
                    transition-delay 100ms

                &:nth-of-type(4)
                    transition-delay 150ms

                &:nth-of-type(5)
                    transition-delay 200ms

                &:nth-of-type(6)
                    transition-delay 250ms

.menu-item a
    color $c-white
    transition color 200ms ease

    &.is-dark
        color $c-font
        transition color 200ms ease
