.team
    &__left__inner
        +tablet()
            justify-content center

    &__member
        position relative
        max-width 15rem
        margin auto

        +tablet()
            max-width 22rem

        +desktop()
            margin 1rem

        +wide()
            max-width 22rem
            margin 2rem

        &__thumbnail
            position relative
            width 100%
            padding-top 115%
            pointer-events none

            &--hover
                display block
                content ''
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                opacity 0
                transition opacity 500ms ease
                pointer-events none

        &__infos
            position absolute
            top 50%
            left 50%
            opacity 0
            transform translate(-50%, -50%)
            transition opacity 500ms ease
            pointer-events none

        &:hover
            cursor pointer

            .team__member__thumbnail--hover, .team__member__infos
                opacity 1

    &__cardlist
        background-size cover
        text-align center

        .card
            position fixed
            z-index 20
            top 0
            left 100vw
            width 100vw
            height 100vh
            background url(/assets/images/fond-noir.jpg) no-repeat center center
            background-size cover
            transition left 200ms ease

            &-open
                left 0
                transition left 200ms ease

            +desktop()
                left 100%
                width 70rem

                &:before
                    position fixed
                    content ''
                    top 0
                    left 0
                    width 100%
                    height 100%
                    background #202421
                    opacity 0
                    pointer-events none

                &-open
                    left calc(100vw - 70rem)

                    &:before
                        pointer-events auto
                        opacity 0.5


                &__inner
                    width 70rem


                // top 50%
                // left 50%
                // max-width 60rem
                // max-height 90rem
                // opacity 0
                // pointer-events none
                // transform translate(-50%, -48%)
                // transition opacity 300ms ease, transform 200ms ease


                // &:before
                //     position fixed
                //     content ''
                //     top -50%
                //     left -50%
                //     width 150vw
                //     height 150vh
                //     background transparent
                //     opacity 0.5


                // &-open
                //     left 50%
                //     opacity 1
                //     pointer-events auto
                //     transform translate(-50%, -50%)
                //     transition opacity 300ms ease, transform 200ms ease
                //     box-shadow 0px 0px 78px -12px rgba(255,255,255,0.14)

            &__inner
                height 100%
                width 100%
                display flex
                flex-direction column
                justify-content space-around

                +tablet()
                    justify-content center

            &__container
                width 100%
                max-width 31rem
                margin auto

            &__heading-2
                position relative
                display block
                width 86%
                max-width 43rem
                position relative
                margin 1rem 0 2rem 7%
                padding 1rem 0
                background $c-gradient
                color $c-white

                +tablet()
                    margin 4rem auto

                &:before
                    position absolute
                    content ''
                    display block
                    top 0
                    left -1.4rem
                    width 0
                    border-right: 1.5rem solid rgba(182,1,158,1);
                    border-top: 1.9rem solid transparent;
                    border-bottom: 1.9rem solid transparent;

                &:after
                    position absolute
                    content ''
                    display block
                    top 0
                    right -1.4rem
                    width 0
                    border-left: 1.5rem solid rgba(14,159,162,1);
                    border-top: 1.9rem solid transparent;
                    border-bottom: 1.9rem solid transparent;

                &__border
                    position absolute
                    z-index -1
                    display block
                    top -3px
                    bottom -3px
                    left 0
                    right 0
                    background $c-white

                    &:before
                        position absolute
                        content ''
                        display block
                        top -0.5px
                        left -1.8rem
                        width 0
                        border-right: 1.8rem solid $c-white;
                        border-top: 2.25rem solid transparent;
                        border-bottom: 2.25rem solid transparent;

                    &:after
                        position absolute
                        content ''
                        display block
                        top -0.5px
                        right -1.8rem
                        width 0
                        border-left: 1.8rem solid $c-white;
                        border-top: 2.25rem solid transparent;
                        border-bottom: 2.25rem solid transparent;

            &__thumbnail
                max-width 17rem

                +wide()
                    max-width 22rem

            &__gauge
                position relative
                height 1.5rem
                margin-top 1.8rem
                border $c-white solid 2px

                &__inner
                    position absolute
                    top 0
                    left 0
                    height 100%
                    background $c-white

            &__header
                padding-top 2rem
                &__left
                    +tablet()
                        display block
                        text-align right

                &__right
                    display none

                    +tablet()
                        display block
                        text-align left

                &__center
                    display none

                    +tablet()
                        display block

            &__footer
                .card__heading-3
                    text-align left

            &__button
                padding 0 0 2rem
                background transparent
                border none

                &:hover
                    cursor pointer

                +tablet()
                    padding 4rem

                .bar
                    width 2.2rem
                    height 0.4rem
                    margin 0.5rem
                    background $c-white
                    border-radius 25px

                    &:nth-of-type(1)
                        transform-origin top left
                        transform rotate(42.5deg) scaleX(1.28)

                    &:nth-of-type(2)
                        transform-origin center center
                        transform scaleX(0)

                    &:nth-of-type(3)
                        transform-origin bottom left
                        transform rotate(-42.5deg) scaleX(1.28)
        .skill
            &__item
                margin-bottom 0
            &__box
                display inline-block
                height 1.5rem
                width 1.5rem
                margin-right 0.1rem
                border $c-white solid 2px

                &--checked
                    background $c-white

        @media (max-height: 425px)
            .card__footer
                .card__heading-2, .row
                    display none

        @media (max-height: 769px) and (min-width: 1023px)
            .card__header
                &__left
                    text-align center

                &__right
                    display none


                &__center
                    display none

            .card__button
                padding 3rem
