div.loader.js-loader
    p.loader__text loading . . .
header.header
    div.header__inner.container
        div.header__left
            a.logo(href="#")
        div.header__right.menu.js-menu
            button.menu__toggler.js-menu-toggler
                div.bar
                div.bar
                div.bar
            nav.menu__items
                ul
                    li.menu-item #[a(href="#accueil") Accueil]
                    li.menu-item #[a(href="#projet") Notre projet]
                    li.menu-item #[a(href="#histoire") Notre histoire]
                    li.menu-item #[a(href="#philosophie") Notre philosophie]
                    li.menu-item #[a(href="#equipe") Notre équipe]
                    li.menu-item #[a(href="#contact") Contact]
