extends mixins/_layout

block vars
    - var bodyClasses = 'tpl-homepage frontpage'

block extraScripts

block extraMarkup

block content
    section.section.banner
        div.container
            div.banner
                p.heading-1 Bienvenue
                p.heading-2 Explorateur digital,
                p.teasing-1 Vous voilà de passage à Luditales
            div.choices
                button.btn Découvrir l'entreprise
                button.btn Découvrir le projet
