extends mixins/_layout

block vars
    - var bodyClasses = 'tpl-homepage frontpage'

block extraScripts

block extraMarkup

block content
    section.banner.section
        div.banner__bg
        div.container.banner__inner
            div.banner__header
                p.banner__title.heading-1 Bienvenue
                p.banner__subtitle.teasing-1 Explorateur digital,
                p.banner__teasing.teasing-2 Vous voilà de passage à Luditales.
            div.banner__footer.choices
                button.btn Découvrir l'entreprise
                button.btn Découvrir le projet

    section.section.section--project
        div.section__icon
        div.container.section__inner
            h2.section__title.heading-2 Notre projet
            div.section__content.rte
                img(src="/assets/images/illus/illu800.jpg" alt="Illustration de luditales par laurianne terrier")
                p A mi-chemin entre les jeux de rôle en ligne et les histoires interactives, LudiTales a pour ambition de vous permettre de vous plonger dans les univers dont vous rêvez, rapidement et simplement. Tous vos choix auront une conséquence sur la suite de votre histoire.
                p Notre application web vous permettra de créer vous même des histoires passionnantes que vous pourrez partager et jouer seul ou à plusieurs. Venez développer votre créativité et dévoiler vos aventures uniques à vos amis.
