extends mixins/_layout

block vars
    - var bodyClasses = 'tpl-homepage frontpage'

block extraScripts

block extraMarkup

block content
    section.banner.section.section--dark
        div.container
            div.banner__header
                p.heading-1 Bienvenue
                p.teasing-1 Explorateur digital,
                p.teasing-2 Vous voilà de passage à Luditales
            div.banner__footer.choices
                button.btn Découvrir l'entreprise
                button.btn Découvrir le projet
