extends mixins/_layout

block vars
    - var bodyClasses = 'tpl-homepage frontpage'

block extraScripts

block extraMarkup

block content
    // banner
    section#accueil.banner.section.section--dark
        div.banner__bg
        div.container.banner__inner
            div.banner__header
                p.banner__title.heading-1 Bienvenue
                p.banner__subtitle.teasing-1 Explorateur digital,
                p.banner__teasing.teasing-2 Vous voilà de passage à Luditales.
            div.banner__footer.section__choices.js-choices
                button.btn.js-choice(data-dir="histoire") Découvrir l'entreprise
                button.btn.js-choice(data-dir="projet") Découvrir le projet
    // / banner

    // project section
    section#projet.section.section--project
        div.section__icon
        div.container.section__inner
            h2.section__title.heading-2 Notre projet
            div.section__content.rte
                img(src="/assets/images/illus/illu800.jpg" alt="Illustration de luditales par laurianne terrier")
                p A mi-chemin entre les jeux de rôle en ligne et les histoires interactives, LudiTales a pour ambition de vous permettre de vous plonger dans les univers dont vous rêvez, rapidement et simplement. Tous vos choix auront une conséquence sur la suite de votre histoire.
                p Notre application web vous permettra de créer vous même des histoires passionnantes que vous pourrez partager et jouer seul ou à plusieurs. Venez développer votre créativité et dévoiler vos aventures uniques à vos amis.
            div.section__footer.section__choices.js-choices
                button.btn.js-choice(data-dir="histoire") Découvrir l'entreprise
                button.btn.js-choice(data-dir="projet") Découvrir le projet
                button.btn.js-choice(data-dir="equipe") Découvrir nos membres
                button.btn.js-choice(data-dir="philosophie") Découvrir notre philosophie
                button.btn.js-choice(data-dir="contact").is-hidden  Et pour finir...

    // / project section

    // story section
    section#histoire.section.section--story
        div.section__icon
        div.container.section__inner
            h2.section__title.heading-2 Notre histoire
            div.section__content.rte
                p Nous sommes une guilde d'étudiants de licence pro MMI. Tous passionnés par le numérique et l’élevage de lamantin rose au Guatelama, nous avons décidé d’étendre notre passion à travers une application dédiée aux histoires interactives. Et ce, aussi pour mettre à l’épreuve nos compétences.
            div.section__footer.section__choices.js-choices
                button.btn.js-choice(data-dir="histoire") Découvrir l'entreprise
                button.btn.js-choice(data-dir="projet") Découvrir le projet
                button.btn.js-choice(data-dir="equipe") Découvrir nos membres
                button.btn.js-choice(data-dir="philosophie") Découvrir notre philosophie
                button.btn.js-choice(data-dir="contact").is-hidden  Et pour finir...
    // / story section


    // philosophy section
    section#philosophie.section.section--philosophy
        div.section__icon
        div.container.section__inner
            h2.section__title.heading-2 Notre philosophie
            div.section__content.row
                div.column.section__column
                    img(src="/assets/images/icons/icone-divertir.png" alt="divertir").section__thumbnail
                    h3.heading-3 Divertir
                    p.text Incarnez un chasseur de mage, un valeureux guerrier, une créature de l'ombre, un zombie ou encore une voyante ! Différents personnages sont disponibles en fonction des histoires… Il vous est aussi possible de créer votre propre scénario et votre propre héros !
                div.column.section__column
                    img(src="/assets/images/icons/icone-simplifier.png" alt="simplifier").section__thumbnail
                    h3.heading-3 Simplifier
                    p.text Vous n'avez pas le courage d'engager une quête contre le dragon de votre région ? D'un coup de baguette magique nous simplifions vos histoires ! Plus besoin de se soucier de lancer les dès ou de calculer des points de compétences. Nous le faisons pour vous !
                div.column.section__column
                    img(src="/assets/images/icons/icone-partager.png" alt="partager").section__thumbnail
                    h3.heading-3 Partager
                    p.text Vous souhaitez vivre une aventure incroyable avec vos amis ? Les histoires sont accessibles sur le site et jouables à plusieurs joueurs en même temps si vous le souhaitez ! Programmez des parties pour vous retrouver et rire ensemble.
            div.section__footer.section__choices.js-choices
                button.btn.js-choice(data-dir="histoire") Découvrir l'entreprise
                button.btn.js-choice(data-dir="projet") Découvrir le projet
                button.btn.js-choice(data-dir="equipe") Découvrir nos membres
                button.btn.js-choice(data-dir="philosophie") Découvrir notre philosophie
                button.btn.js-choice(data-dir="contact").is-hidden  Et pour finir...
    // / philosophy section

    // Team section
    section#equipe.section.section--team.team
        div.section__icon
        div.container.section__inner
                // Team left
                div.team__left
                    h2.section__title.heading-2 Notre équipe
                    div.row.is-multiline.is-mobile.team__left__inner
                        div.column.is-half-mobile.is-one-third-tablet.team__member.js-team-member(data-member="laurianne")
                            div.team__member__thumbnail(style="background: url(/assets/images/avatars/photo-laurianne.png) no-repeat center center; background-size: contain;")
                                div.team__member__thumbnail--hover(style="background: url(/assets/images/avatars/photo-laurianne-hover.png) no-repeat center center; background-size: contain;")
                            div.team__member__infos
                                p.name laurianne
                                p.surname Terrier
                        div.column.is-half-mobile.is-one-third-tablet.team__member.js-team-member(data-member="samantha")
                            div.team__member__thumbnail(style="background: url(/assets/images/avatars/photo-samantha.png) no-repeat center center; background-size: contain;")
                                div.team__member__thumbnail--hover(style="background: url(/assets/images/avatars/photo-samantha-hover.png) no-repeat center center; background-size: contain;")
                            div.team__member__infos
                                p.name Samantha
                                p.surname Charpentier
                        div.column.is-half-mobile.is-one-third-tablet.team__member.js-team-member(data-member="lucas")
                            div.team__member__thumbnail(style="background: url(/assets/images/avatars/photo-lucas.png) no-repeat center center; background-size: contain;")
                                div.team__member__thumbnail--hover(style="background: url(/assets/images/avatars/photo-lucas-hover.png) no-repeat center center; background-size: contain;")
                            div.team__member__infos
                                p.name lucas
                                p.surname alexandre
                        div.column.is-half-mobile.is-one-third-tablet.team__member.js-team-member(data-member="jimmy")
                            div.team__member__thumbnail(style="background: url(/assets/images/avatars/photo-jimmy.png) no-repeat center center; background-size: contain;")
                                div.team__member__thumbnail--hover(style="background: url(/assets/images/avatars/photo-jimmy-hover.png) no-repeat center center; background-size: contain;")
                            div.team__member__infos
                                p.name jimmy
                                p.surname lottin
                        div.column.is-half-mobile.is-one-third-tablet.team__member.js-team-member(data-member="ines")
                            div.team__member__thumbnail(style="background: url(/assets/images/avatars/photo-ines.png) no-repeat center center; background-size: contain;")
                                div.team__member__thumbnail--hover(style="background: url(/assets/images/avatars/photo-ines-hover.png) no-repeat center center; background-size: contain;")
                            div.team__member__infos
                                p.name ines
                                p.surname backhouche
                        div.column.is-half-mobile.is-one-third-tablet.team__member.js-team-member(data-member="tais")
                            div.team__member__thumbnail(style="background: url(/assets/images/avatars/photo-tais.png) no-repeat center center; background-size: contain;")
                                div.team__member__thumbnail--hover(style="background: url(/assets/images/avatars/photo-tais-hover.png) no-repeat center center; background-size: contain;")
                            div.team__member__infos
                                p.name tais
                                p.surname fraisse
                    div.section__footer.section__choices.js-choices
                        button.btn.js-choice(data-dir="histoire") Découvrir l'entreprise
                        button.btn.js-choice(data-dir="projet") Découvrir le projet
                        button.btn.js-choice(data-dir="equipe") Découvrir nos membres
                        button.btn.js-choice(data-dir="philosophie") Découvrir notre philosophie
                        button.btn.js-choice(data-dir="contact").is-hidden  Et pour finir...
                // / Team left
                // Team right
                div.team__right.team__cardlist.js-cardlist
                    div#laurianne.card.js-card
                        div.container.card__inner
                            div.row.card__header.is-vcentered
                                div.column.card__header__left
                                    p.card__heading Laurianne Terrier
                                    p.card__teasing Directrice technique
                                div.column.card__header__center
                                    img.card__thumbnail(src="/assets/images/avatars/photo-laurianne-fiche.png" alt="laurianne terrier")
                                div.column.card__header__right
                                    p.card__heading Exp
                                    p.card__teasing Expérience <br/> professionnelle
                                    div.card__gauge
                                        div.card__gauge__inner(style="width: 60%;")
                            di.card__body
                                p.card__heading-2 Caracteristiques physiques
                                    span.card__heading-2__border
                                div.card__container.row.is-multiline.is-mobile
                                    div.column.is-half
                                        div.row.is-mobile
                                            div.column.is-three-quarters
                                                p.card__heading int
                                                p.card__teasing Intelligence
                                            div.column
                                                p.card__heading 4
                                    div.column.is-half
                                        div.row.is-mobile
                                            div.column.is-three-quarters
                                                p.card__heading cha
                                                p.card__teasing charisme
                                            div.column
                                                p.card__heading 1
                                    div.column.is-half
                                        div.row.is-mobile
                                            div.column.is-three-quarters
                                                p.card__heading sag
                                                p.card__teasing sagesse
                                            div.column
                                                p.card__heading 3
                                    div.column.is-half
                                        div.row.is-mobile
                                            div.column.is-three-quarters
                                                p.card__heading end
                                                p.card__teasing endurance
                                            div.column
                                                p.card__heading 2
                            div.card__footer
                                p.card__heading-2 Competences
                                    span.card__heading-2__border
                                div.card__container
                                    div.row.is-mobile.skill__item
                                        div.column.is-half
                                            p.card__heading-3 Astuce
                                        div.column.is-half.skill__boxes
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box
                                            div.skill__box
                                            div.skill__box
                                    div.row.is-mobile.skill__item
                                        div.column.is-half
                                            p.card__heading-3 Erudition
                                        div.column.is-half.skill__boxes
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box
                                            div.skill__box
                                            div.skill__box
                                    div.row.is-mobile.skill__item
                                        div.column.is-half
                                            p.card__heading-3 Investigation
                                        div.column.is-half.skill__boxes
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box
                                            div.skill__box
                                            div.skill__box
                                    div.row.is-mobile.skill__item
                                        div.column.is-half
                                            p.card__heading-3 Art
                                        div.column.is-half.skill__boxes
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box
                                            div.skill__box
                                    div.row.is-mobile.skill__item
                                        div.column.is-half
                                            p.card__heading-3 Technologie
                                        div.column.is-half.skill__boxes
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box
                                            div.skill__box
                                button.card__button.js-card-close
                                    div.bar
                                    div.bar
                                    div.bar
                    div#samantha.card.js-card
                        div.container.card__inner
                            div.row.card__header.is-vcentered
                                div.column.card__header__left
                                    p.card__heading samantha Charpentier
                                    p.card__teasing Cheffe de projet
                                div.column.card__header__center
                                    img.card__thumbnail(src="/assets/images/avatars/photo-samantha-fiche.png" alt="samantha Charpentier")
                                div.column.card__header__right
                                    p.card__heading Exp
                                    p.card__teasing Expérience <br/> professionnelle
                                    div.card__gauge
                                        div.card__gauge__inner(style="width: 50%;")
                            di.card__body
                                p.card__heading-2 Caracteristiques physiques
                                    span.card__heading-2__border
                                div.card__container.row.is-multiline.is-mobile
                                    div.column.is-half
                                        div.row.is-mobile
                                            div.column.is-three-quarters
                                                p.card__heading int
                                                p.card__teasing Intelligence
                                            div.column
                                                p.card__heading 3
                                    div.column.is-half
                                        div.row.is-mobile
                                            div.column.is-three-quarters
                                                p.card__heading cha
                                                p.card__teasing charisme
                                            div.column
                                                p.card__heading 3
                                    div.column.is-half
                                        div.row.is-mobile
                                            div.column.is-three-quarters
                                                p.card__heading sag
                                                p.card__teasing sagesse
                                            div.column
                                                p.card__heading 1
                                    div.column.is-half
                                        div.row.is-mobile
                                            div.column.is-three-quarters
                                                p.card__heading end
                                                p.card__teasing endurance
                                            div.column
                                                p.card__heading 4
                            div.card__footer
                                p.card__heading-2 Competences
                                    span.card__heading-2__border
                                div.card__container
                                    div.row.is-mobile.skill__item
                                        div.column.is-half
                                            p.card__heading-3 Astuce
                                        div.column.is-half.skill__boxes
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box
                                            div.skill__box
                                            div.skill__box
                                    div.row.is-mobile.skill__item
                                        div.column.is-half
                                            p.card__heading-3 Erudition
                                        div.column.is-half.skill__boxes
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box
                                            div.skill__box
                                            div.skill__box
                                    div.row.is-mobile.skill__item
                                        div.column.is-half
                                            p.card__heading-3 Investigation
                                        div.column.is-half.skill__boxes
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box
                                            div.skill__box
                                            div.skill__box
                                    div.row.is-mobile.skill__item
                                        div.column.is-half
                                            p.card__heading-3 Art
                                        div.column.is-half.skill__boxes
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box
                                            div.skill__box
                                    div.row.is-mobile.skill__item
                                        div.column.is-half
                                            p.card__heading-3 Technologie
                                        div.column.is-half.skill__boxes
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box
                                            div.skill__box
                                button.card__button.js-card-close
                                    div.bar
                                    div.bar
                                    div.bar
                    div#lucas.card.js-card
                        div.container.card__inner
                            div.row.card__header.is-vcentered
                                div.column.card__header__left
                                    p.card__heading Lucas Alexandre
                                    p.card__teasing Développeur
                                div.column.card__header__center
                                    img.card__thumbnail(src="/assets/images/avatars/photo-lucas-fiche.png" alt="Lucas Alexandre")
                                div.column.card__header__right
                                    p.card__heading Exp
                                    p.card__teasing Expérience <br/> professionnelle
                                    div.card__gauge
                                        div.card__gauge__inner(style="width: 40%;")
                            di.card__body
                                p.card__heading-2 Caracteristiques physiques
                                    span.card__heading-2__border
                                div.card__container.row.is-multiline.is-mobile
                                    div.column.is-half
                                        div.row.is-mobile
                                            div.column.is-three-quarters
                                                p.card__heading int
                                                p.card__teasing Intelligence
                                            div.column
                                                p.card__heading 2
                                    div.column.is-half
                                        div.row.is-mobile
                                            div.column.is-three-quarters
                                                p.card__heading cha
                                                p.card__teasing charisme
                                            div.column
                                                p.card__heading 2
                                    div.column.is-half
                                        div.row.is-mobile
                                            div.column.is-three-quarters
                                                p.card__heading sag
                                                p.card__teasing sagesse
                                            div.column
                                                p.card__heading 2
                                    div.column.is-half
                                        div.row.is-mobile
                                            div.column.is-three-quarters
                                                p.card__heading end
                                                p.card__teasing endurance
                                            div.column
                                                p.card__heading 4
                            div.card__footer
                                p.card__heading-2 Competences
                                    span.card__heading-2__border
                                div.card__container
                                    div.row.is-mobile.skill__item
                                        div.column.is-half
                                            p.card__heading-3 Astuce
                                        div.column.is-half.skill__boxes
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box
                                            div.skill__box
                                            div.skill__box
                                    div.row.is-mobile.skill__item
                                        div.column.is-half
                                            p.card__heading-3 Erudition
                                        div.column.is-half.skill__boxes
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box
                                            div.skill__box
                                            div.skill__box
                                    div.row.is-mobile.skill__item
                                        div.column.is-half
                                            p.card__heading-3 Investigation
                                        div.column.is-half.skill__boxes
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box
                                            div.skill__box
                                            div.skill__box
                                    div.row.is-mobile.skill__item
                                        div.column.is-half
                                            p.card__heading-3 Art
                                        div.column.is-half.skill__boxes
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box
                                            div.skill__box
                                            div.skill__box
                                    div.row.is-mobile.skill__item
                                        div.column.is-half
                                            p.card__heading-3 Technologie
                                        div.column.is-half.skill__boxes
                                            div.skill__box.skill__box--checked
                                            div.skill__box
                                            div.skill__box
                                            div.skill__box
                                            div.skill__box
                                button.card__button.js-card-close
                                    div.bar
                                    div.bar
                                    div.bar
                    div#jimmy.card.js-card
                        div.container.card__inner
                            div.row.card__header.is-vcentered
                                div.column.card__header__left
                                    p.card__heading jimmy lottin
                                    p.card__teasing Développeur
                                div.column.card__header__center
                                    img.card__thumbnail(src="/assets/images/avatars/photo-jimmy-fiche.png" alt="jimmy lottin")
                                div.column.card__header__right
                                    p.card__heading Exp
                                    p.card__teasing Expérience <br/> professionnelle
                                    div.card__gauge
                                        div.card__gauge__inner(style="width: 40%;")
                            di.card__body
                                p.card__heading-2 Caracteristiques physiques
                                    span.card__heading-2__border
                                div.card__container.row.is-multiline.is-mobile
                                    div.column.is-half
                                        div.row.is-mobile
                                            div.column.is-three-quarters
                                                p.card__heading int
                                                p.card__teasing Intelligence
                                            div.column
                                                p.card__heading 2
                                    div.column.is-half
                                        div.row.is-mobile
                                            div.column.is-three-quarters
                                                p.card__heading cha
                                                p.card__teasing charisme
                                            div.column
                                                p.card__heading 1
                                    div.column.is-half
                                        div.row.is-mobile
                                            div.column.is-three-quarters
                                                p.card__heading sag
                                                p.card__teasing sagesse
                                            div.column
                                                p.card__heading 2
                                    div.column.is-half
                                        div.row.is-mobile
                                            div.column.is-three-quarters
                                                p.card__heading end
                                                p.card__teasing endurance
                                            div.column
                                                p.card__heading 1
                            div.card__footer
                                p.card__heading-2 Competences
                                    span.card__heading-2__border
                                div.card__container
                                    div.row.is-mobile.skill__item
                                        div.column.is-half
                                            p.card__heading-3 Astuce
                                        div.column.is-half.skill__boxes
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box
                                            div.skill__box
                                            div.skill__box
                                    div.row.is-mobile.skill__item
                                        div.column.is-half
                                            p.card__heading-3 Erudition
                                        div.column.is-half.skill__boxes
                                            div.skill__box.skill__box--checked
                                            div.skill__box
                                            div.skill__box
                                            div.skill__box
                                            div.skill__box
                                    div.row.is-mobile.skill__item
                                        div.column.is-half
                                            p.card__heading-3 Investigation
                                        div.column.is-half.skill__boxes
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box
                                            div.skill__box
                                            div.skill__box
                                    div.row.is-mobile.skill__item
                                        div.column.is-half
                                            p.card__heading-3 Art
                                        div.column.is-half.skill__boxes
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box
                                            div.skill__box
                                            div.skill__box
                                    div.row.is-mobile.skill__item
                                        div.column.is-half
                                            p.card__heading-3 Technologie
                                        div.column.is-half.skill__boxes
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box
                                            div.skill__box
                                            div.skill__box
                                button.card__button.js-card-close
                                    div.bar
                                    div.bar
                                    div.bar
                    div#ines.card.js-card
                        div.container.card__inner
                            div.row.card__header.is-vcentered
                                div.column.card__header__left
                                    p.card__heading ines backhouche
                                    p.card__teasing directrice artistique
                                div.column.card__header__center
                                    img.card__thumbnail(src="/assets/images/avatars/photo-ines-fiche.png" alt="ines backhouche")
                                div.column.card__header__right
                                    p.card__heading Exp
                                    p.card__teasing Expérience <br/> professionnelle
                                    div.card__gauge
                                        div.card__gauge__inner(style="width: 80%;")
                            di.card__body
                                p.card__heading-2 Caracteristiques physiques
                                    span.card__heading-2__border
                                div.card__container.row.is-multiline.is-mobile
                                    div.column.is-half
                                        div.row.is-mobile
                                            div.column.is-three-quarters
                                                p.card__heading int
                                                p.card__teasing Intelligence
                                            div.column
                                                p.card__heading 4
                                    div.column.is-half
                                        div.row.is-mobile
                                            div.column.is-three-quarters
                                                p.card__heading cha
                                                p.card__teasing charisme
                                            div.column
                                                p.card__heading 1
                                    div.column.is-half
                                        div.row.is-mobile
                                            div.column.is-three-quarters
                                                p.card__heading sag
                                                p.card__teasing sagesse
                                            div.column
                                                p.card__heading 2
                                    div.column.is-half
                                        div.row.is-mobile
                                            div.column.is-three-quarters
                                                p.card__heading end
                                                p.card__teasing endurance
                                            div.column
                                                p.card__heading 2
                            div.card__footer
                                p.card__heading-2 Competences
                                    span.card__heading-2__border
                                div.card__container
                                    div.row.is-mobile.skill__item
                                        div.column.is-half
                                            p.card__heading-3 Astuce
                                        div.column.is-half.skill__boxes
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box
                                            div.skill__box
                                            div.skill__box
                                    div.row.is-mobile.skill__item
                                        div.column.is-half
                                            p.card__heading-3 Erudition
                                        div.column.is-half.skill__boxes
                                            div.skill__box.skill__box--checked
                                            div.skill__box
                                            div.skill__box
                                            div.skill__box
                                            div.skill__box
                                    div.row.is-mobile.skill__item
                                        div.column.is-half
                                            p.card__heading-3 Investigation
                                        div.column.is-half.skill__boxes
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box
                                            div.skill__box
                                            div.skill__box
                                    div.row.is-mobile.skill__item
                                        div.column.is-half
                                            p.card__heading-3 Art
                                        div.column.is-half.skill__boxes
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box
                                            div.skill__box
                                    div.row.is-mobile.skill__item
                                        div.column.is-half
                                            p.card__heading-3 Technologie
                                        div.column.is-half.skill__boxes
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box
                                            div.skill__box
                                            div.skill__box
                                button.card__button.js-card-close
                                    div.bar
                                    div.bar
                                    div.bar
                    div#tais.card.js-card
                        div.container.card__inner
                            div.row.card__header.is-vcentered
                                div.column.card__header__left
                                    p.card__heading tais fraisse
                                    p.card__teasing graphiste
                                div.column.card__header__center
                                    img.card__thumbnail(src="/assets/images/avatars/photo-tais-fiche.png" alt="tais fraisse")
                                div.column.card__header__right
                                    p.card__heading Exp
                                    p.card__teasing Expérience <br/> professionnelle
                                    div.card__gauge
                                        div.card__gauge__inner(style="width: 30%;")
                            di.card__body
                                p.card__heading-2 Caracteristiques physiques
                                    span.card__heading-2__border
                                div.card__container.row.is-multiline.is-mobile
                                    div.column.is-half
                                        div.row.is-mobile
                                            div.column.is-three-quarters
                                                p.card__heading int
                                                p.card__teasing Intelligence
                                            div.column
                                                p.card__heading 3
                                    div.column.is-half
                                        div.row.is-mobile
                                            div.column.is-three-quarters
                                                p.card__heading cha
                                                p.card__teasing charisme
                                            div.column
                                                p.card__heading 2
                                    div.column.is-half
                                        div.row.is-mobile
                                            div.column.is-three-quarters
                                                p.card__heading sag
                                                p.card__teasing sagesse
                                            div.column
                                                p.card__heading 3
                                    div.column.is-half
                                        div.row.is-mobile
                                            div.column.is-three-quarters
                                                p.card__heading end
                                                p.card__teasing endurance
                                            div.column
                                                p.card__heading 2
                            div.card__footer
                                p.card__heading-2 Competences
                                    span.card__heading-2__border
                                div.card__container
                                    div.row.is-mobile.skill__item
                                        div.column.is-half
                                            p.card__heading-3 Astuce
                                        div.column.is-half.skill__boxes
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box
                                            div.skill__box
                                    div.row.is-mobile.skill__item
                                        div.column.is-half
                                            p.card__heading-3 Erudition
                                        div.column.is-half.skill__boxes
                                            div.skill__box.skill__box--checked
                                            div.skill__box
                                            div.skill__box
                                            div.skill__box
                                            div.skill__box
                                    div.row.is-mobile.skill__item
                                        div.column.is-half
                                            p.card__heading-3 Investigation
                                        div.column.is-half.skill__boxes
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box
                                            div.skill__box
                                    div.row.is-mobile.skill__item
                                        div.column.is-half
                                            p.card__heading-3 Art
                                        div.column.is-half.skill__boxes
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box
                                            div.skill__box
                                    div.row.is-mobile.skill__item
                                        div.column.is-half
                                            p.card__heading-3 Technologie
                                        div.column.is-half.skill__boxes
                                            div.skill__box.skill__box--checked
                                            div.skill__box.skill__box--checked
                                            div.skill__box
                                            div.skill__box
                                            div.skill__box
                                button.card__button.js-card-close
                                    div.bar
                                    div.bar
                                    div.bar
                // / Team right
    // / Team section

    // Contact section
    section#contact.section.section--contact
        div.section__icon
        div.container.section__inner
            h2.section__title.heading-2 cela vous intéresse?
            div.section__content.rte
                p Si vous voulez poser une question, nous faire part d'un commentaire ou simplement nous suivre:
            div.section__footer.section__choices.js-choices
                a.btn(href="mailto:laurianne.terrier@yahoo.fr") Envoyez-nous un mail
                a.btn(href="http://facebook.com") Suivez-nous sur facebook
    // / Contact section
