extends mixins/_layout

block vars
    - var bodyClasses = 'tpl-homepage frontpage'

block extraScripts

block extraMarkup

block content
    // banner
    section.banner.section
        div.banner__bg
        div.container.banner__inner
            div.banner__header
                p.banner__title.heading-1 Bienvenue
                p.banner__subtitle.teasing-1 Explorateur digital,
                p.banner__teasing.teasing-2 Vous voilà de passage à Luditales.
            div.banner__footer.choices
                button.btn Découvrir l'entreprise
                button.btn Découvrir le projet
    // / banner

    // project section
    section.section.section--project.section-open
        div.section__icon
        div.container.section__inner
            h2.section__title.heading-2 Notre projet
            div.section__content.rte
                img(src="/assets/images/illus/illu800.jpg" alt="Illustration de luditales par laurianne terrier")
                p A mi-chemin entre les jeux de rôle en ligne et les histoires interactives, LudiTales a pour ambition de vous permettre de vous plonger dans les univers dont vous rêvez, rapidement et simplement. Tous vos choix auront une conséquence sur la suite de votre histoire.
                p Notre application web vous permettra de créer vous même des histoires passionnantes que vous pourrez partager et jouer seul ou à plusieurs. Venez développer votre créativité et dévoiler vos aventures uniques à vos amis.
            div.section__footer.choices
                button.btn Découvrir notre histoire
                button.btn Découvrir nos membres
    // / project section

    // story section
    section.section.section--story.section-open
        div.section__icon
        div.container.section__inner
            h2.section__title.heading-2 Notre histoire
            div.section__content.rte
                p Nous sommes une guilde d'étudiants de licence pro MMI. Tous passionnés par le numérique et l’élevage de lamantin rose au Guatelama, nous avons décidé d’étendre notre passion à travers une application dédiée aux histoires interactives. Et ce, aussi pour mettre à l’épreuve nos compétences.
            div.section__footer.choices
                button.btn Découvrir notre histoire
                button.btn Découvrir nos membres
    // / story section


    // philosophy section
    section.section.section--philosophy.section-open
        div.section__icon
        div.container.section__inner
            h2.section__title.heading-2 Notre philosophie
            div.section__content.row
                div.column.section__column
                    img(src="/assets/images/icons/icone-divertir.png" alt="divertir").section__thumbnail
                    h3.heading-3 Divertir
                    p.text Incarnez un chasseur de mage, un valeureux guerrier, une créature de l'ombre, un zombie ou encore une voyante ! Différents personnages sont disponibles en fonction des histoires… Il vous est aussi possible de créer votre propre scénario et votre propre héros !
                div.column.section__column
                    img(src="/assets/images/icons/icone-simplifier.png" alt="simplifier").section__thumbnail
                    h3.heading-3 Simplifier
                    p.text Vous n'avez pas le courage d'engager une quête contre le dragon de votre région ? D'un coup de baguette magique nous simplifions vos histoires ! Plus besoin de se soucier de lancer les dès ou de calculer des points de compétences. Nous le faisons pour vous !
                div.column.section__column
                    img(src="/assets/images/icons/icone-partager.png" alt="partager").section__thumbnail
                    h3.heading-3 Partager
                    p.text Vous souhaitez vivre une aventure incroyable avec vos amis ? Les histoires sont accessibles sur le site et jouables à plusieurs joueurs en même temps si vous le souhaitez ! Programmez des parties pour vous retrouver et rire ensemble.
            div.section__footer.choices
                button.btn Découvrir nos membres
    // / philosophy section


    // philosophy section
    section.section.section--team.team.section-open
        div.section__icon
        div.container.section__inner
            // Team right
            div.team__right.team__cardlist.js-cardlist
                div#laurianne.card.js-card
                    div.container.card__inner
                        div.row.card__header
                            div.column.card__header__left
                                p.card__heading Laurianne Terrier
                                p.card__teasing Développeuse
                            div.column.card__header__center
                                img.card__thumbnail(src="/assets/images/avatars/photo-laurianne-fiche.png" alt="laurianne terrier")
                            div.column.card__header__right
                                p.card__heading Exp
                                p.card__teasing Expérience <br/> professionnelle
                                div.card__gauge
                                    div.card__gauge__inner(style="width: 40%;")
                        div.row.card__body.is-multiline.is-mobile
                            p.card__heading-2 Caracteristiques physiques
                            div.column.is-6
                                div.row.is-mobile
                                    div.column.is-three-quarters
                                        p.card__heading int
                                        p.card__teasing Intelligence
                                    div.column
                                        p.card__heading 3
                            div.column.is-6
                                div.row.is-mobile
                                    div.column.is-three-quarters
                                        p.card__heading cha
                                        p.card__teasing charisme
                                    div.column
                                        p.card__heading 4
                            div.column.is-6
                                div.row.is-mobile
                                    div.column.is-three-quarters
                                        p.card__heading sag
                                        p.card__teasing sagesse
                                    div.column
                                        p.card__heading 1
                            div.column.is-6
                                div.row.is-mobile
                                    div.column.is-three-quarters
                                        p.card__heading end
                                        p.card__teasing endurance
                                    div.column
                                        p.card__heading 2
                        div.card__footer
                            p.card__heading-2 Competences
                            div.row.is-mobile.skill__item
                                div.column.is-6
                                    p.card__heading-3 Astuce
                                div.column.is-6.skill__boxes
                                    div.skill__box.skill__box--checked
                                    div.skill__box.skill__box--checked
                                    div.skill__box
                                    div.skill__box
                                    div.skill__box
                            div.row.is-mobile.skill__item
                                div.column.is-6
                                    p.card__heading-3 Erudition
                                div.column.is-6.skill__boxes
                                    div.skill__box.skill__box--checked
                                    div.skill__box.skill__box--checked
                                    div.skill__box
                                    div.skill__box
                                    div.skill__box
                            div.row.is-mobile.skill__item
                                div.column.is-6
                                    p.card__heading-3 Investigation
                                div.column.is-6.skill__boxes
                                    div.skill__box.skill__box--checked
                                    div.skill__box.skill__box--checked
                                    div.skill__box
                                    div.skill__box
                                    div.skill__box
                            div.row.is-mobile.skill__item
                                div.column.is-6
                                    p.card__heading-3 Art
                                div.column.is-6.skill__boxes
                                    div.skill__box.skill__box--checked
                                    div.skill__box.skill__box--checked
                                    div.skill__box
                                    div.skill__box
                                    div.skill__box
                            div.row.is-mobile.skill__item
                                div.column.is-6
                                    p.card__heading-3 Technologie
                                div.column.is-6.skill__boxes
                                    div.skill__box.skill__box--checked
                                    div.skill__box.skill__box--checked
                                    div.skill__box
                                    div.skill__box
                                    div.skill__box
                            button.card__button.js-card-close
                                div.bar
                                div.bar
                                div.bar


            // / Team right
            // Team left
            div.team__left
                h2.section__title.heading-2 Notre équipe
                div.row.is-multiline.is-mobile
                    div.column.is-6-mobile.is-4-tablet.team__member.js-team-member(data-member="laurianne")
                        div.team__member__thumbnail
                        div.team__member__infos
                            p.name laurianne
                            p.surname Terrier
                    div.column.is-6-mobile.is-4-tablet.team__member.js-team-member(data-member="ines")
                        div.team__member__thumbnail
                        div.team__member__infos
                            p.name laurianne
                            p.surname Terrier
                    div.column.is-6-mobile.is-4-tablet.team__member.js-team-member(data-member="laurianne")
                        div.team__member__thumbnail
                        div.team__member__infos
                            p.name laurianne
                            p.surname Terrier
                    div.column.is-6-mobile.is-4-tablet.team__member.js-team-member(data-member="laurianne")
                        div.team__member__thumbnail
                        div.team__member__infos
                            p.name laurianne
                            p.surname Terrier
                    div.column.is-6-mobile.is-4-tablet.team__member.js-team-member(data-member="laurianne")
                        div.team__member__thumbnail
                        div.team__member__infos
                            p.name laurianne
                            p.surname Terrier
                    div.column.is-6-mobile.is-4-tablet.team__member.js-team-member(data-member="laurianne")
                        div.team__member__thumbnail
                        div.team__member__infos
                            p.name laurianne
                            p.surname Terrier
            div.section__footer.choices
                button.btn Et pour finir...
            // / Team left
    // / philosophy section
