.heading-1
    font-primary()
    upper()
    bold()
    color $c-primary
    font-size $size-super-larger

.heading-2
    font-secondary()
    upper()
    regular()
    font-size $size-large

.heading-3
    font-primary()
    upper()
    regular()
    margin-bottom 2rem
    font-size $size-medium

.teasing-1
    font-primary()
    upper()
    light()
    font-size $size-larger

.teasing-2
    font-primary()
    light()
    italic()
    font-size $size-large

.text
    font-primary()
    regular()
    font-size $size-smaller
    line-height 1.6

    +tablet()
        font-size $size-small
        line-height 1.6

.bold
    bold()

.btn
    font-secondary()
    upper()
    light()
    font-size $size-small - 0.1rem
    letter-spacing 1px


.menu
    font-secondary()
    upper()
    font-size $size-regular - 0.1rem
    letter-spacing 1px
    line-height 2
    //text-shadow 1px 1px 3px rgba(0,0,0,0.7)

    +tablet()
        font-size $size-regular

.banner
    &__title
        font-size 13.5vw

        +tablet()
            font-size 9rem

    &__subtitle
        font-size 7vw

        +tablet()
            font-size 4.8rem

    &__teasing
        font-size 4.9vw

        +tablet()
            font-size 3.4rem

.team__member__infos
    font-secondary()
    light()
    font-size $size-regular
    color $c-white

    .surname
        upper()

.card
    &__heading
        font-secondary()
        upper()
        line-height 1.2
        font-size $size-large

    &__heading-2
        font-secondary()
        upper()
        regular()
        line-height 1.2
        font-size $size-regular - 0.5rem

    &__heading-3
        font-secondary()
        upper()
        line-height 1.2
        font-size $size-regular

    &__teasing
        upper()
        light()
        line-height 1.2
        font-size $size-smaller

.footer__menu
    font-secondary()
    upper()
    light()
    font-size $size-small
    line-height 3



.copyright
    font-primary()
    regular()
    font-size $size-super-tiny
    color $c-white
