.heading-1
    font-primary()
    upper()
    bold()
    color $c-primary
    font-size $size-super-larger

.heading-2
    font-secondary()
    upper()
    regular()
    font-size $size-large

.heading-3
    font-secondary()
    black()
    italic()
    font-size $size-larger

.teasing-1
    font-primary()
    upper()
    light()
    font-size $size-larger

.teasing-2
    font-primary()
    light()
    italic()
    font-size $size-large

.text
    font-primary()
    regular()
    font-size $size-small
    line-height 1.6

    +tablet()
        font-size $size-regular
        line-height 1.6


.bold
    bold()

.btn
    font-secondary()
    upper()
    light()
    font-size $size-regular - 0.1rem
    letter-spacing 1px

    +tablet()
        font-size $size-medium


.logo
    font-secondary()
    black()
    font-size $size-medium

.menu
    font-secondary()
    upper()
    font-size $size-regular - 0.1rem
    letter-spacing 1px
    line-height 2
    text-shadow 1px 1px 2px #000

    +tablet()
        font-size $size-medium

.copyright
    font-primary()
    regular()
    font-size $size-super-tiny
