.heading-1
    font-primary()
    upper()
    bold()
    color $c-primary
    font-size $size-super-larger

.heading-2
    font-secondary()
    black()
    font-size $size-super-large

.heading-3
    font-secondary()
    black()
    italic()
    font-size $size-larger

.teasing-1
    font-primary()
    upper()
    light()
    font-size $size-larger

.teasing-2
    font-primary()
    light()
    italic()
    font-size $size-large

.text
    font-primary()
    light()
    font-size $size-regular
    line-height 1.8

.bold
    bold()

.btn
    font-secondary()
    upper()
    font-size $size-medium
    letter-spacing 1px

.logo
    font-secondary()
    black()
    font-size $size-medium

.menu
    .is-active
        bold()

.copyright
    font-primary()
    regular()
    font-size $size-super-tiny
